<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>World's Amaze DBZ-Growing App</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/style.css">    
</head>
<body>
  <div class="container">
  <h1> Forum </h1>
    <div class="lookup">
      <h1>looks up artists</h1>
      <form method="GET" action="/articles">
        <input name="artist" type="text" placeholder="title">
        <input type="submit" value="get artist">
      </form>
    </div><!--lookup--> 
    <div class="index_post_item">
      <ul>
        <% rows.forEach(function(e){ %>
         <li>

          <h3> <a href="/articles/<%=e.id%>"> Comment on this post</a> </h3>    

          <h2><%=e.title%></h2> 
          <h3><%=e.user_name%> </h3>
          <img src="<%=e.img_url%>" alt="album" class="show_new_image">
          <p><%=e.body%>  <p>
          <h4><%=e.twitter_id%>  </h4>
          <h4><%=e.timestamp%>  </h4>  

         </li>
        
        <% }); %>  

      </ul>
    </div><!--index_post_item-->
  </div><!--container-->
</body>
</html>

