<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>World's Amaze Forum App</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <div class="container">

    <%=articleObjToPost.img_url%>
    <div class="buttons">
      <form method="GET" action="/articles/new">
        <input type="submit" value="Create a New Topic Thread">
      </form>
      <form method="GET" action="/articles">
        <input type="submit" value="Back to Articles">
      </form>
    </div><!--buttons--> 
    
    <div class="show_article_container">
      <h1><%=articleObjToPost.title%></h1>

      <h2>by <span><%=articleObjToPost.user_name%></span></h2>
      <img src="<%=articleObjToPost.img_url%>" alt="album" class="show_new_image">
      <p><%=articleObjToPost.body%></p>
      <h3><a href='https://www.twitter.com/<%=articleObjToPost.twitter_id%>'>@<%=articleObjToPost.twitter_id%></a></h3>

    <div class="buttons">
      <form method="GET" action="/articles/<%=articleObjToPost.id%>/comments/new">
        <input type="submit" value="Comment on <%=articleObjToPost.user_name%>'s post!">
      </form>
    </div><!--buttons-->     

    </div><!--show_article_container-->
        <ul>
          <% commentsObjToPost.forEach(function(e){ %>
            <div class="comments_container">
              <li><%=e.comment_text%> <span> | up votes <%=e.up_votes%> | boo votes <%=e.down_votes%> | <%=e.timestamp%></span>
                <div class="buttons">
                  
                  <form method="POST" action="/articles/<%=e.article_id%>/comments/<%=e.id%>/upvote?_method=PUT">
                   <input type="submit" value="Vote up!!">
                   <input type="hidden" name="data" value="<%=JSON.stringify(articleObjToPost)%>">
                  </form>

                  <form method="POST" action="/articles/<%=e.article_id%>/comments/<%=e.id%>/downvote?_method=PUT">
                    <input type="submit" value="Vote Down!">
                  </form>

                </div><!--buttons-->  
              </li>
            </div><!--comments_container-->
          <% }); %>

        </ul>
  </div><!--container-->

</body>
</html>