<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album App</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="/style.css">
<body>
    <header class="pure-u-1">
      <div class="header-box">
        <h1>Albums &amp; Covers</h1>
        <!-- NAV -->
        <nav class="pure-menu pure-menu-horizontal pure-u-1">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="/" class="pure-menu-link">Home</a>
            </li>
            <li class="pure-menu-item">
              <a href="/about" class="pure-menu-link">About</a>
            </li>
          </ul>
        </nav>
      </div><!--header-box-->
    </header> <!--pure-u-1-->
  <div class="container">
    <div class="buttons">
      <form method="GET" action="/">
        <input type="submit" value="Back to Articles">
      </form>
    </div><!--buttons--> 
    
    <div class="show_article_container">
      <h1><%=articleObjToPost.title%></h1>

      <h2>by <span><%=articleObjToPost.user_name%></span></h2>
      <img src="<%=articleObjToPost.img_url%>" alt="album" class="show_new_image">
      <p><%=articleObjToPost.body%></p>
      <h3><a href='https://www.twitter.com/<%=articleObjToPost.twitter_id%>'>@<%=articleObjToPost.twitter_id%></a></h3>

    <div class="buttons">
      <form method="GET" action="/articles/<%=articleObjToPost.id%>/comments/new">
        <input type="submit" value="Comment on <%=articleObjToPost.user_name%>'s post!">
      </form>
    </div><!--buttons-->     

    </div><!--show_article_container-->
        <ul>
          <% commentsObjToPost.forEach(function(e){ %>
            <div class="comments_container">
              <li><%=e.comment_text%> <span> by <a id='page_load_point<%=e.id%>'>  <%=e.comment_user_name%> </a> | <i class="fa fa-thumbs-up"></i>  <%=e.up_votes%> | <i class="fa fa-thumbs-down"></i>  <%=e.down_votes%> | <%=e.timestamp%></span>
                <div class="buttons">
                  
                  <form method="POST" action="/articles/<%=e.article_id%>/comments/<%=e.id%>/upvote?_method=PUT">
                   <input type="submit" value="Vote up!!">
                   <input type="hidden" name="data" value="<%=JSON.stringify(articleObjToPost)%>">
                  </form>

                  <form method="POST" action="/articles/<%=e.article_id%>/comments/<%=e.id%>/downvote?_method=PUT">
                    <input type="submit" value="Vote Down!">
                  </form>

                </div><!--buttons-->  
              </li>
            </div><!--comments_container-->
          <% }); %>

        </ul>
  </div><!--container-->

</body>
</html>